/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ***********/
.headercontent {
    display: flex;
    justify-content: space-between;
    height: 79px;

}

.logocontent {
    display: flex;
    align-items: center;
    width: 161.09px;
    height: 79px;
}

.logo {
    width: 61.09px;
    height: 19px;
}

.navcontent {
    display: flex;
    align-items: flex-end;
    gap: 70px;
    height: 36px;
    font-weight: bold;

}

.navcontent a:hover {
    color: #0065fc;
    border-top: solid 2px #0065fc;
    padding-top: 14px;

}


/****** Info Groupe ***********/
.infogroup {
    display: flex;
    flex-direction: column;
    height: 281px;
}

.headline h2 {
    font-size: 22px;
    line-height: 18.78px;
}

.headline p {
    line-height: 20%;
    margin: 0 0 30px 0;
}

.recherche {
    display: flex;
    max-width: 377px;
    height: 49px;
    margin: 10px 0;
}

.iconel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
}

.fa-solid.fa-location-dot {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.recherche input[type="text"] {
    width: 195px;
    border: none;
    text-align: center;
    border: 1px solid var(--main-bg-color);
}

.recherche input[type="text"]:focus {
    outline: none;
}

.boutonr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.boutonr i {
    display: none;
    margin-left: 100px;
}

.filtre {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.filtre-bouton {
    display: flex;
    gap: 15px;
    margin-left: 15px;
}

.bouton {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding: 0 19px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    white-space: nowrap;
}

.bouton i {
    margin-right: 10px;
    font-size: 22px;
}

.bouton:hover {
    background-color: #DEEBFF;
}

.infobarre {
    display: flex;
    align-items: center;
    height: 24px;
    margin: 25px 0 0 0;
}

.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    margin: 0 10px 0 0;
}

.fa-solid.fa-info {
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.hebergements-and-populaires section {

    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

/****** Hebergements ***********/
.hebergements {
    max-width: 871px;
    background-color: rgba(242, 242, 242, 1);

}

.hebergements img {
    height: 119px;
    width: 100%;
    border-radius: 20px 20px 0 0;

    object-fit: cover;
}

.hebergements h2 {
    font-size: 22px;
    margin: 0;
}

.hebergements h3 {
    font-size: 20px;
    margin: 35px 0 0 0;
}

.allcards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.allcards a {
    width: 31%;
}

.card2 {
    display: flex;
    flex-direction: column;
    height: 207.25px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin-top: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-content2 {
    line-height: 59%;
    padding-left: 10px;

}

.card-content2 h3 {
    margin-top: 15px;
    font-size: 16px;
}

.card-content2 p {
    margin-top: 20px;
    font-size: 14px;
}

.card-content2 i {
    font-size: 13px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: rgba(242, 242, 242, 1);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    padding: 30px;
    margin-top: 15px;
}

.activites h2 {
    font-size: 22px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.activite-card {
    margin: 0;
}

.activites-cards a {
    max-height: 439px;
    width: 23.25%;
    border-radius: 0 0 20px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activite-card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite-card h4 {
    font-size: 16px;
    margin: 15px 20px 25px 20px;
}

/****** Footer ***********/
.footer-content {
    width: 100%;
    height: 163px;
    display: flex;
    background-color: var(--main-bg-color);
    margin: 20px 0 0 0;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 163px;
    line-height: 0;
}

.footer h3 {
    margin: 35px 0 0 23px;
}

.footer p {
    margin: 35px 0 0 23px;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin-top: 45px;
    }



    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        max-height: 390.02px;
    }

    .activites-cards {
        max-height: 270px;
    }

    .activite-card {
        max-height: 270px;
        max-width: 193.5px;
    }

    .activite-card img {
        height: 200px;
        width: 100%;
    }

    .filtre {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtre-bouton {
        margin: 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    .headercontent {
        flex-direction: column;
        height: 119px;
    }

    .logocontent {
        justify-content: center;
        width: 100%;
    }

    .navcontent {
        align-items: flex-start;
        border-bottom: 2px solid rgb(234, 230, 230);
        gap: 0;
    }

    .navcontent a {
        width: 50%;
        text-align: center;
    }

    .navcontent a:hover {
        border-bottom: 2px solid #0065fc;
        padding-bottom: 17px;
        padding-top: 0;
        border-top: 0;
    }

    .infogroup {
        margin-top: 15px;
        margin-left: 5px;
    }

    .boutonr {
        width: 60px;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    .boutonr p {
        display: none;
    }

    .boutonr i {
        display: block;
        color: white;
        margin-left: 0px;
    }

    .recherche input[type="text"] {
        width: 100%;

    }

    .filtre {
        margin-left: 5px;
    }

    .filtre-bouton {
        flex-wrap: wrap;
        max-width: 335px;
        min-width: 280px;
        height: 120px;
    }

    .bouton {
        width: 47.3%;
        font-size: 15px;
    }

    .infobarre {
        margin-top: 40px;
    }

    .populaires {
        order: 1;
        height: 569px;


    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 15px;

    }

    .populaires-cards a {

        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px 15px 0px 15px;
    }


    .hebergements-and-populaires {
        margin-top: 150px;

    }

    .hebergements {
        width: 100%;
        margin: 0;
        order: 2;
        background-color: transparent;
    }

    .hebergements img {
        height: 119px;
        width: 100%;
    }



    .hebergements h3 {
        font-size: 16px;
    }

    .allcards a {
        width: 100%;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;

    }

    .activite-card {
        max-width: 100%;
    }

    .activites-cards a {
        max-height: 200px;
        width: 100%;
        border-radius: 20px;
    }

    .activite-card img {
        width: 100%;
        height: 141px;
    }

    .footer-content {

        height: 430px;
        flex-direction: column;
        margin-top: 600px;
        margin-bottom: 50px;
        background-color: var(--main-bg-color);
    }

    .footer {
        justify-content: end;
        height: 123px;
        padding-top: 10px;

    }




}

/* Small devices (phones, less than 351px) */
@media (max-width: 350.98px) {

    .bouton {
        font-size: 0.75rem;
    }

}